@inherits LayoutComponentBase

@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ThemeSwitcher Class="ps-3 ps-lg-2" Position="DropdownMenuPosition.End" />
        </div>

        <article class="content px-4">
            <Toasts class="p-3"
                    Messages="messages"
                    AutoHide="true"
                    Delay="6000"
                    Placement="ToastsPlacement.TopRight" />
            @Body
        </article>
    </main>
</div>

@code {
    private readonly List<ToastMessage> messages = new();

    protected override void OnInitialized()
    {
        ToastService.OnShow += msg =>
        {
            messages.Add(msg);
            StateHasChanged();  // re-render to pick up the new toast
        };
    }
}