@using Microsoft.AspNetCore.Components.Forms

<div class="validation-summary-valid text-danger @CssClass">
    <ul class="mb-0 pb-0">
        @foreach (var message in EditContext.GetValidationMessages())
        {
            <li>@((MarkupString)message)</li>
        }
    </ul>
</div>

@code {
    [CascadingParameter]
    private EditContext EditContext { get; set; } = default!;

    [Parameter]
    public string? CssClass { get; set; }
}
